{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }], "@babel/preset-react", "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "displayName": true,
                "fileName": false
            }
        ],
    ],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    }
}
